<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="GraphDatabase" value="templates" />
    <add key="GraphCollection" value="arm" />
    <add key="CosmosDBEndpoint" value="https://armgraph.documents.azure.com:443/" />
    <add key="CosmosDBAuthKey" value="yc8950lwGYR0cjbczasijbBbIdwx1DhtSlvrvsjrv7Hwi3qFjC0F4EATAf0FtoY2JVpEmOjOQWHyRcNLoLQicg==" />
    <add key="GitHubToken" value="f94563f6e6df1b7e8a685560ff1b384fc77772bf" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
